* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.type-toggle {
  display: flex;
  gap: 0px;
  border: 2px solid #c171ed;
  margin-bottom: 10px;
  border-radius: 19px;
}

.type-toggle button {
  flex: 1;
  padding: 8px 0px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  color: black;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.type-toggle button.active-income,
.type-toggle button.active-expenses {
  background-color: #c171ed;
  color: white;
}

form input,
form select {
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
}

form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' fill='none' stroke='%236b7280' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; /* â† move arrow LEFT here */
  background-size: 12px;
  padding-right: 0px;
}

form button[type="submit"] {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #8471ed;
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 18px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 8px;
}

.tooltip-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.delete-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

.tooltip-text {
  position: absolute;
  top: -20px;
  right: -60px;
  background: #f4f4f4;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.tooltip-wrapper:hover .tooltip-text {
  opacity: 1;
}

.clear-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

form > p {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.container > p:last-child {
  display: flex;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
}
